# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.move a thing 2 electric boogaloo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Git Repos\1610spring2021\Unity junk\move a thing 2 electric boogaloo\.idea\.idea.move a thing 2 electric boogaloo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
