# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity Events.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git Repos\1610spring2021 2 electric boogaloo\Unity junk\Unity Events\.idea\.idea.Unity Events\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
