# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.3D project.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git Repos\1610spring2021\Unity junk\3D project\.idea\.idea.3D project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
