# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Variables and Functions.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git Repos\1610spring2021\Unity junk\Variables and Functions\.idea\.idea.Variables and Functions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
